language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "6.9.2"
before_script:
  - export CHROME_BIN=chromium-browser
  - npm install -g grunt-cli
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
env:
  - PROJECT_DIR=project/xtypejs
  # xtypejs extensions
  - PROJECT_DIR=project/extensions/xtypejs-extension-custom-types
  - PROJECT_DIR=project/extensions/xtypejs-extension-typename-utils
  - PROJECT_DIR=project/extensions/xtypejs-extension-autocamel-name-scheme
  # xtypejs name schemes
  - PROJECT_DIR=project/name-schemes/xtypejs-name-scheme-compact
  - PROJECT_DIR=project/name-schemes/xtypejs-name-scheme-camel
  - PROJECT_DIR=project/name-schemes/xtypejs-name-scheme-shortened
  - PROJECT_DIR=project/name-schemes/xtypejs-name-scheme-shortened-camel
script: cd $PROJECT_DIR && npm install && npm test
