<section id="play-screen-content" class="screen-content" template-artifact="play">
    
    <div class="screen-content-links">

        <div data-ng-repeat="category in AppUtils.keys(itemsByCategoryAndColGroups)">
            <h1>{{category}}</h1>

            <div class="cols-2">
                <div>
                    <ul>
                        <li data-ng-repeat="contentItem in itemsByCategoryAndColGroups[category].col1Items">
                            <a screen-link=":{{contentItem.attributes.name}}">{{contentItem.attributes.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cols-2">
                <div>
                    <ul>
                        <li data-ng-repeat="contentItem in itemsByCategoryAndColGroups[category].col2Items">
                            <a screen-link=":{{contentItem.attributes.name}}">{{contentItem.attributes.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    
    <div class="screen-content-body">
        <div class="colspan-70">
        
            <div class="content-group">
            
                <div class="content-item">

                    <div id="{{contentName}}" style="height: 0px;" data-ng-repeat="contentName in contentNames"></div>

                    <div id="play_editor">
                        
                        <div class="item-title">
                            <a screen-link=":play_editor">xtypejs &nbsp; &lt;/&gt; &nbsp; Code Playground</a>
                        </div>
                        
                        <!--
                        <p class="item-description">
                            Play with xtypejs by typing and running code in the editor below. 
                            You can require xtypejs, any of the official xtypejs extensions and name schemes, 
                            and any other module in the npm repository.
                        </p>
                        -->
                        
                        <div id="play_editor_box"></div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="colspan-30 right-nav-container">
            <ul class="right-nav">
                <li><a screen-link=":menu" class="circle-button up active"></a></li>
            </ul>
        </div>
        
    </div>
    
    <div ui-view></div> <!-- dummy child view -->
    
</section>