
body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

a, a:visited, a:active {
    text-decoration: none;
    outline: none;
	color: #4d92c7;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.invisible {
    visibility: hidden;
}

.compact {
    padding: 0px !important;
    margin: 0px !important;
}

.gray {
    color: #999;
}

.thin-text {
    font-weight: 300;
}

.cols-2 {
    width: 50%;
    float: left;
}
.cols-4 {
    width: 25%;
    float: left;
}

.colspan-20 {
    width: 20%;
    float: left;
}

.colspan-30 {
    width: 30%;
    float: left;
}
.colspan-70 {
    width: 70%;
    float: left;
}
.colspan-80 {
    width: 80%;
    float: left;
}

.circle-button {
    display: inline-block;
    margin: 40px 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    text-align: center;
    vertical-align: middle;
}

.circle-button.up {
    background: url('/assets/img/up-arrow.png') center center no-repeat;
}

.circle-button.down {
    background: url('/assets/img/down-arrow.png') center center no-repeat;
}

.circle-button.active, a.circle-button:hover {
    background-color: #E8EBCC /* #F1D4AF; #E8EBCC; */
}

.page-container {
    background-color: #ffffff;
    margin: 0 auto;
    width: 1100px;
    padding: 0px 50px;
    box-sizing: border-box;
}

.top-content-pane {
    text-align: center;
    /*
    #ffb400; #e1edfc;
    */
}

.logo-pane {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;
    /*
    float: left;
    */
}

.logo {
    display: block;
    margin-bottom: 30px;
    border: none;
    outline: none;
}

.lib-title {
    display: block;
    font-size: 28px;
    font-weight: normal;
    color: #4D4E56;
}

.lib-subtitle {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
}

.top-links-pane {
    margin-bottom: 25px;
}

.top-links-pane .github-buttons a {
    display: inline-block;
    margin: 0px 15px;
    padding: 20px 30px;
    min-width: 180px;
    text-decoration: none;
    color: #2c3233;
    font-size: 21px;
    font-weight: 300;
    border-radius: 5px;
    background-color: #fff;
    /*
    border: 1px solid #2c3233;
    */
}

.top-links-pane .github-buttons a:only-child {
    margin-right: 50px;
}

.top-links-pane .github-buttons a i {
    margin-right: 5px;
    vertical-align: middle;
    color: #EAE2CB; /* #c8c8c8 #EAE2CB #a6afb2; */
}

.description-pane {
    display: table-row;
    width: 100%;
    text-align: left;
}

.description-pane > div {
    display: table-cell;
    vertical-align: top;
    width: 33%;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

.description-pane > div:first-child {
    padding-left: 0px;
}

.description-pane > div:last-child {
    padding-right: 0px;
}

.description-pane > div .title {
    display: block;
    color: #666;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
}

.typing-box {
    margin: 50px 0px 35px 0px;
    padding: 0px 40px;
    font-size: 48px;
    font-weight: 300;
    color: #aaa;
}

.menu-down-button {
    display: block;
    margin: 25px auto;
    clear:both;
}

.screen-tabs {
    display: table;
    width: 100%;
    background-color: #EAE2CB; /* #D2E4FC; #bfd4e7; */
}

.screen-tabs ul {
    display: table-row;
    list-style: none;
}

.screen-tabs ul li {
    display: table-cell;
    position: relative;
    width: 20%;
    z-index: 1;
}

.screen-tabs ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 45px 20px;
    color: #2c3233;
    font-size: 14px;
    font-weight: bold;
}

.screen-tabs ul li:first-child::before, .screen-tabs ul li::after {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
    width: 1px;
    height: 60%;
    background: rgba(0,0,0,0.07);
    content: '';
}

.screen-tabs ul li.tab-current {
	z-index: 100;
}

.screen-tabs ul li.tab-current a {
	background: #B8604C; /* #9EBEB6 #B8604C #919999; #ececec; #eff0fa; #fff; */
	box-shadow: -1px 0 0 #fff;
	color: #fff; /* #000; */
}

.screen-tabs ul li.tab-current + li a {
	border-left: #fff 1px solid;
}

.screen-tabs ul li.tab-current a::after {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 10px;
	border-top-color: #B8604C; /* #919999; #ececec; */
	content: '';
	pointer-events: none;
}

.screen-container {
	font-weight: 300;
	font-size: 1.25em;
    min-height: 600px;
}

.screen-container a {
    text-decoration: none;
}

.screen-loader-pane {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #2c3233;
    color: #888;
    font-size: 60px;
    z-index: 1000;
    opacity: 0.4;
}

body.page-loading .screen-loader-pane, body.screen-loading .screen-loader-pane {
    display: block;
}

.screen-loader-pane .spinner {
    margin-top: 300px;
}

.links-section-buttons {
    float: right;
    margin: 20px 0px;
}

.links-section-buttons a {
    float: left;
    padding: 10px 20px;
    margin-right: 10px;
    color: #4e4e4e;
    font-size: 21px;
    font-weight: bold;
    border-radius: 3px;
    /*
    border: #666 1px solid;
    */
}

.links-section-buttons a:hover {
    color: #666;
}

.links-section-buttons a i {
    margin-right: 20px;
    vertical-align: middle;
}

.screen-content-links {
    background-color: #2c3233;
    padding: 30px 30px 50px 60px;
    color: #a6afb2;
    overflow: auto;
    min-height: 180px;
}

.screen-content-links ul.horizontal-links {
    white-space: nowrap;
    margin-bottom: 50px;
}

.screen-content-links ul.horizontal-links li {
    display: inline-block;  
    padding: 0px 20px;
    border-left: #484848 1px solid;
}

.screen-content-links ul.horizontal-links li:first-child {
    padding-left: 0px;
    border-left: none;
}

.screen-content-links h1 {
    font-size: 32px;
    font-weight: bold;
    color: #f2f2f2;
}

.screen-content-links h2 {
    font-size: 18px;
    font-weight: 700;
    color: #f2f2f2;
}

.screen-content-links ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.screen-content-links ul li {
    line-height: 1.4;
}

.screen-content-links ul li a {
    text-decoration: none;
    color: #a6afb2;
    font-size: 16px;
    font-weight: 300;
}

.screen-content-links ul li a:hover, .screen-content-links ul li a.hover {
	color: #40BCC9;
}

.screen-content-links h2 a {
    text-decoration: none;
    color: #f2f2f2;
}

.screen-content-links h2 a:hover, .screen-content-links h2 a:focus {
    color: #40BCC9;
}

.screen-content-body {
    overflow: auto;
    padding-left: 40px;
}

.screen-content-body p {
    margin-bottom: 25px;
}

.content-group-title {
    display: inline-block;
    margin-top: 30px;
    padding: 8px 20px;
    background-color: #EE8167;
    color: #fff !important; /* #E73F3F #40BCC9 */
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    /*
    margin: 30px 0px 10px 0px;
    border-radius: 8px;
    */
}

.right-nav-container {
    float: right;
}

ul.right-nav { 
    display: block;   
    list-style: none;
    margin: 50px 40px 0px 100px;
    text-align: left;
}

ul.right-nav li{
    line-height: 2;
}

ul.right-nav li a {
    text-decoration: none;
    color: #ABCCBC; /* #EE8167 #a6afb2; */
    font-size: 21px;
    font-weight: bold;
    white-space: nowrap;
    opacity: 0.7;
}

ul.right-nav li a:hover {
    opacity: 1;
    /*
    color: #33302c;
    */
}

ul.right-nav.fixed {
    position: fixed;
    top: 0px;
}

.item-title {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #2c3233;
    padding-top: 30px;
}

.item-title a {
    color: #2c3233;
    text-decoration: none;
    vertical-align: middle;
}

.item-subtitle {
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #D78451; /* #999; */
}

.title-label {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    font-weight: normal;
    padding: 3px 10px 5px 10px;
    vertical-align: middle;
    border: #bfd4e7 1px solid;
    border-radius: 3px;
}

.new-label {
    color: #2CC185;
    border-color: #2CC185;
}

.deprecated-label {
    color: #f33e3e;
    border-color: #f33e3e;
}

.compact-label {
    text-align: right;
    font-weight: 300;
    padding: 3px 0px 3px 10px;
    color: #999;
}

.compact-label::before {
    content: 'compact';
}

.compact-label code {
    display: inline-block;
    padding: 0px 7px;
    margin-left: 10px;
    vertical-align: middle;
    color: #4D4E56;
    white-space: pre;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    border-left: #d4dde4 1px solid;
    border-radius:  0px 3px 3px 0px;
}

.method-interfaces {
    display: block;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 25px;
    color: #666;
    cursor: default;
}

.method-interfaces span {
    display: inline-block;
    padding: 0px 7px;
    border-left: #e3e3e3 1px solid;
    white-space: nowrap;
}

.method-interfaces span:first-child {
    border-left: none;
}

.api-table {
    width: 100%;
    border: #ddd 1px solid;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.api-table td, .api-table th {
    border: #ddd 1px solid;
    padding: 8px 15px;
    font-size: 16px;
}

.api-table td.return {
    font-weight: bold;
}

.section-footnote {
    font-size: 16px;
    margin-bottom: 25px;
}

.code-comparison {
    margin: 60px 0px;
}

.code-comparison .code-entry {
    display: block;
    margin-top: 40px;
    white-space: nowrap;
}

.code-comparison .code-entry:last-child {
    text-align: right;
}

.code-comparison .code-entry > :first-child {
    margin-right: 50px;
}

.code-comparison .compare-label {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    color: #266D75; /* #4d4e56; */
    margin-top: -40px;
}

.code-comparison .compare-label span {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.code-comparison .compare-label span.large {
    font-size: 120px;
    color: #40BCC9; /* #d9e8fc; */
}

.code-comparison .compare-label i {
    color: #F75325; /* #9ce; */
}

.code-comparison .code-container {
    display: inline-block !important;
    width: 680px;
    box-sizing: border-box;
    vertical-align: top;
}

code, .code {
    display: inline;
	white-space: pre;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 85%;
    font-weight: normal;
    color: #2C3233;
	background-color: #f2f2f2;
    border-radius:  3px;
    padding: 0.2em 0em;
    margin: 0px 2px;
    box-sizing: border-box;
    line-height: 1.6;
    text-decoration: none;
    outline: none;
}

code::before, code::after, .code::before, .code::after {
    letter-spacing: -0.2em;
    content: '\00a0';
}

code.highlight, .code.highlight {
    background-color: #e1edfc;
}

.item-header {
    display: inline-block;
    position: relative;
    font-size: 16px;
}

.item-header > div {
    display: table-row;
}

.item-header > div > span {
    display: table-cell;
    padding: 2px 10px;
}

.item-header > div > span:first-child {
    padding-left: 0px;
}

.item-header > div > span:last-child {
    text-align: left;
    border-left: #c0c0c0 1px dotted;
}

.type-label {
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 5px;
}

.type-label.squeezed {
    margin: 0px;
}

.content-group {
    margin: 50px 0px;
}

.content-item {
    margin: 40px 0px 60px 0px;
    border-top: 4px solid #7DB4B5; /* #919999; #bfd4e7; */
}

.content-item:first-child {
    border-top: none;
}

.item-description {
	font-size: 16px;
}

.data-table {
    white-space: nowrap;
}

.data-table .data-col {
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
}

.data-table .data-cell {
    vertical-align: top;
    font-family: Lato, sans-serif;
    font-size: 16px;
    padding: 3px 10px 3px 10px;
}

.data-table .data-cell-title {
    vertical-align: top;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #484848;
    background-color: #f8f8f8;
    padding: 10px 10px 5px 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: #e8e8e8 1px solid;
}

.release-title {
    font-size: 18px;
    font-weight: bold;
    color: #2c3233;
}

ul.release-assets {
    list-style: none;
    font-weight: 400;
    font-size: 24px;
}

ul.release-assets li {
    margin-bottom: 20px;
}

ul.release-assets a {
    color: #aaa;
}

ul.release-assets a:hover {
    color: #40BCC9;
}

ul.release-assets a i {
    color: #EE8167;
}

.release-assets a > * {
    vertical-align: middle;
}

.share-container {
    display: block;
    margin: 60px 0px;
    text-align: center;
}

.share-buttons {
    display: inline-block;
    box-sizing: border-box;
    width: 1000px;
    min-height: 60px;
    padding: 0px 20px;
    text-align: left;
    font-size: 12px;
}

.share-buttons a {
    margin: 0px 25px;
    color: #C5E0DC; /* #F1D4AF #C5E0DC #CCEBF1; #40BCC9; #a6afb2; */
    text-decoration: none;
    cursor: pointer;
}

.share-buttons a:hover {
    color: #D78451; /* #F1D4AF; #ccc; */
}

.footer-container {
    margin-top: 30px;
    text-align: center;
    background-color: #2c3233;
}

.footer-section {
    display: inline-block;
    box-sizing: border-box;
    width: 1000px;
    min-height: 60px;
    padding: 40px 20px;
    text-align: left;
    color: #a6afb2;
    font-size: 16px;
    font-weight: 300;
}

.footer-section > * {
    display: inline-block;
    padding: 0px 15px;
    border-left: #484848 1px solid;
    vertical-align: middle;
}

.footer-section > :first-child {
    border-left: none;
}

.footer-section a {
	color: #40BCC9;
    text-decoration: none;
}

.back-to-top {
    font-size: 72px;
    font-weight: 900;
    color: #4e4e4e !important;
    border: none;
    padding: 0px;
    margin-top: -20px;
    margin-right: 60px;
    float: right;
    
}

.back-to-top::before {
    content: 'top';
}

.back-to-top:hover {
	color: #666 !important;
}

/* --- PrettyPrint Adaptations --- */

.prettyprint ol.linenums {
    padding-left: 30px;
    color: #ccc;
    font-weight: 300;
}

.prettyprint ol.linenums li {
    border-left: #e8e8e8 1px solid;
    padding-left: 25px;
}
