<section id="guide-screen-content" class="screen-content" template-artifact="guide">
    
    <div class="screen-content-links">
        <div class="cols-2">
            <div>
                <ul>
                    <li data-ng-repeat="contentName in col1Items">
                        <a screen-link=":{{contentName}}">{{guideContent[contentName].attributes.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cols-2">
            <div>
                <ul>
                    <li data-ng-repeat="contentName in col2Items">
                        <a screen-link=":{{contentName}}">{{guideContent[contentName].attributes.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="screen-content-body">        
        <div class="colspan-80">
            
            <div class="content-group">
                
                <div class="content-item" 
                    data-ng-repeat="contentName in AppUtils.keys(guideContent)" 
                    data-ng-init="codeItem = guideContent[contentName]">
                    
                    <div id="{{contentName}}" section-title="{{codeItem.attributes.title}}">
                        
                        <div class="item-title" data-ng-if="codeItem.attributes.title">
                            <a screen-link=":{{contentName}}">{{codeItem.attributes.title}}</a>
                        </div>
                        
                        <code-snippet code-item="codeItem" default-view="compact"></code-snippet>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="colspan-20 right-nav-container">
            <ul class="right-nav">
                <li><a screen-link=":menu" class="circle-button up active"></a></li>
            </ul>
        </div>
        
    </div>
    
    <div ui-view></div> <!-- dummy child view -->
    
</section>