<section id="guide-screen-content" class="screen-content" template-artifact="guide">
    
    <div class="screen-content-links">
        <div class="cols-2">
            <div>
                <ul>
                    <li data-ng-repeat="contentName in col1Items">
                        <a screen-link=":{{contentName}}">{{guideContent[contentName].attributes.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cols-2">
            <div>
                <ul>
                    <li data-ng-repeat="contentName in col2Items">
                        <a screen-link=":{{contentName}}">{{guideContent[contentName].attributes.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="screen-content-body">        
        <div class="colspan-80">
            
            <div class="content-group">
                
                <div class="content-item" 
                    data-ng-repeat="contentName in AppUtils.keys(guideContent)" 
                    data-ng-init="contentItem = guideContent[contentName]">
                    
                    <div id="{{contentName}}" section-title="{{contentItem.attributes.title}}">
                        
                        <div class="item-title" data-ng-if="contentItem.attributes.title">
                            <a screen-link=":{{contentName}}">{{contentItem.attributes.title}}</a>
                        </div>
                        
                        <p class="item-description" 
                            data-ng-bind-html="contentItem.attributes.description" 
                            data-ng-if="contentItem.attributes.description">
                        </p>
                        
                        <div class="code-container {{activeViews[contentName] || 'default'}}-view" data-ng-if="contentItem.codeSamples">
                            <ul class="code-tabs">
                                <li class="tab-label">Example</li>
                                <li class="{{view}}-view"
                                    data-ng-repeat="view in AppUtils.keys(contentItem.codeSamples)" 
                                    data-ng-if="AppUtils.keys(contentItem.codeSamples).length > 1">
                                    <a href="" data-ng-click="switchCodeView(contentName, view)">{{view}}</a>
                                </li>
                            </ul>
                            <div class="code-content-window">
                                <div class="code-content">
                                    <pre data-ng-repeat="(view, content) in contentItem.codeSamples" 
                                        data-ng-bind-html="content"
                                        class="{{view}}-view prettyprint">
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="colspan-20 right-nav-container">
            <ul class="right-nav">
                <li><a screen-link=":menu" class="circle-button up active"></a></li>
            </ul>
        </div>
        
    </div>
    
    <div ui-view></div> <!-- dummy child view -->
    
</section>